body {
  background: url('./img/fon.jpg');
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #f9b234;
}

.logo {
  display: block;
  width: 650px;
  height: 100px;
  background-image: url('./img/logo.png');
  background-repeat: no-repeat;
}

.userBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-image: url('./img/user.png');
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}